:root {
  --primary-blue-color: #2196f3;
  --page-main-text-color: #212121;
  --secondary-text-color: #757575;
  --dark-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --active-button-bg-color: #2196f3;
  --button-text-color: #212121;
  --active-button-text-color: #ffffff;
  --section-title-text-color: #212121;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--page-main-text-color);
  letter-spacing: 0.03em;
}

a {
  cursor: default;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--section-title-text-color);
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--active-button-bg-color);
  color: var(--active-button-text-color);
}

/*---------------------- Navigation bar ----------------------*/

.nav a,
.contact-info a {
  cursor: pointer;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-blue-color);
}

.logo-decor {
  color: #000000;
}

.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--page-main-text-color);
}

.current {
  color: var(--primary-blue-color);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--primary-blue-color);
}

.contact-info .cinfo {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-info .cinfo:hover {
  color: var(--primary-blue-color);
}

/*---------------------- Order service ----------------------*/

.order-service {
  background: var(--dark-bg-color);
}

.order-service h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.order-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

/*---------------------- Priorities ----------------------*/

.priority-item > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.priority-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/*---------------------- Our team ----------------------*/

.team {
  background-color: #f5f4fa;
}

.team-item > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}

.team-item > p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

/*---------------------- Footer ----------------------*/

.footer {
  background-color: var(--dark-bg-color);
}

.footer-logo {
  color: #ffffff;
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address {
  font-style: normal;
  color: #ffffff;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

/*---------------------- Portfolio ----------------------*/
